<form #bookForm="ngForm" *ngIf="transfer">
  <table class="table table-striped">
    <tr>
      <td>Title:</td>
      <td>
        <input type="text" name="title" class="form-control" [(ngModel)]="transfer.title">
      </td>
    </tr>

    <tr>
      <td>Planned for (YYYY-MM-DD):</td>
      <td>
        <input type="text" name="date" class="form-control" [(ngModel)]="transfer.date">
      </td>
    </tr>

    <tr>
      <td>Destination account:</td>
      <td>
        <input type="text" name="destinationAccountNumber" class="form-control" [(ngModel)]="transfer.destinationAccountNumber">
      </td>
    </tr>

    <tr>
      <td>Value:</td>
      <td>
        <input type="number" name="value" class="form-control" [(ngModel)]="transfer.value">
      </td>
    </tr>
  </table>

  <button type="button" class="btn btn-primary" (click)="save()">Save</button>
  <button type="button" class="btn btn-default" routerLink="/">Back</button>
</form>
