<form #bookForm="ngForm" *ngIf="account">
  <table class="table table-striped">
    <tr>
      <td>Name:</td>
      <td>
        <input type="text" name="name" class="form-control" [(ngModel)]="account.name">
      </td>
    </tr>

    <tr>
      <td>Account number:</td>
      <td>
        <input type="text" name="number" class="form-control" [(ngModel)]="account.number">
      </td>
    </tr>

    <tr>
      <td>Balance:</td>
      <td>
        <input type="number" name="balance" class="form-control" [(ngModel)]="account.balance">
      </td>
    </tr>

    <tr>
      <td>
        Transfers:
      </td>
      <td>
        <select [(ngModel)]="account.transfers" name="transfers" multiple class="form-control" [compareWith]="compareTransfers">
          <option *ngFor="let transfer of availableTransfers" [ngValue]="transfer">
            {{transfer.title}}   ({{transfer.value}} zl)
          </option>
        </select>
      </td>
    </tr>

    <tr>
      <td>Card: </td>
      <td>
        <select [(ngModel)]="account.card" name="card" class="form-control" [compareWith]="compareCards">
          <option *ngFor="let card of availableCards" [ngValue]="card">
            {{card.name}}
          </option>
        </select>
      </td>
    </tr>
  </table>

  <button type="button" class="btn btn-primary" (click)="save()">Save</button>
  <button type="button" class="btn btn-default" routerLink="/">Back</button>
</form>
