<h2>ACCOUNTS: </h2> <br/>

<table class="table table-striped table-hover">
  <tr>
    <td>Name</td>
    <td>Number</td>
    <td>Balance</td>
    <td>Card</td>
    <td>Planned transfers</td>
    <td></td><td></td>
  </tr>
  <tr *ngFor="let account of accounts | async">

    <td>
      {{account.name}}
    </td>

    <td>
      {{account.number}}
    </td>

    <td>
      {{account.balance}} zl
    </td>

    <td *ngIf="account.card != null">
      {{account.card.name}}
    </td>

    <td *ngIf="account.card == null">
    </td>

    <td>
      <table>
        <tr *ngFor="let transfer of account.transfers">
          <td>
            {{transfer.title}}
          </td>
        </tr>
      </table>
    </td>

    <td>
      <button class="btn btn-default" [routerLink]="['accounts', account.id, 'edit']">Edit</button>
    </td>

    <td>
      <button class="btn btn-danger" (click)="remove(account)">Delete</button>
    </td>
  </tr>
</table>

<button class="btn btn-primary" routerLink="accounts/new">New Account</button>
