<h2>PENDING TRANSFERS: </h2> <br/>

<table class="table table-striped table-hover">
  <tr>
    <td>Title</td>
    <td>Planned for</td>
    <td>Value</td>
    <td>Destination account</td>
    <td></td>
    <td></td>
  </tr>

  <tr *ngFor="let transfer of transfers | async">
    <td>
      {{transfer.title}}
    </td>
    <td>
      {{transfer.date}}
    </td>
    <td>
      {{transfer.value}} zl
    </td>
    <td>
      {{transfer.destinationAccountNumber}}
    </td>
    <td>
      <button class="btn btn-default" [routerLink]="[ transfer.id, 'edittransfer']">Edit</button>
    </td>

    <td>
      <button class="btn btn-danger" (click)="remove(transfer)">Delete</button>
    </td>
  </tr>
</table>

<button class="btn btn-primary" routerLink="new">New Planned Transfer</button>
