<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
              aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <img src="assets/logo.png" class="pull-left"/> Bank
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav visible-xs">
        <li>
          <a routerLink="/">Accounts</a>
        </li>
        <li>
          <a routerLink="/transfers">Planned transfers</a>
        </li>
        <li>
          <a routerLink="/cards">Credit Cards</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 col-xs-12 sidebar">
      <ul class="nav nav-sidebar">
        <li>
          <a routerLink="/">Accounts</a>
        </li>
        <li>
          <a routerLink="/transfers">Planned transfers</a>
        </li>
        <li>
          <a routerLink="/cards">Credit Cards</a>
        </li>
      </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

      <router-outlet></router-outlet>

    </div>
  </div>
</div>



