<form #bookForm="ngForm" *ngIf="card">
  <table class="table table-striped">
    <tr>
      <td>Name:</td>
      <td>
        <input type="text" name="name" class="form-control" [(ngModel)]="card.name">
      </td>
    </tr>

    <tr>
      <td>Number:</td>
      <td>
        <input type="text" name="number" class="form-control" [(ngModel)]="card.number">
      </td>
    </tr>

    <tr>
      <td>Cvv:</td>
      <td>
        <input type="text" name="cvv" class="form-control" [(ngModel)]="card.cvv">
      </td>
    </tr>
  </table>

  <button type="button" class="btn btn-primary" (click)="save()">Save</button>
  <button type="button" class="btn btn-default" routerLink="/cards">Back</button>
</form>
