<h2>CREDIT CARDS: </h2> <br/>

<table class="table table-striped table-hover">
  <tr>
    <td>Name</td>
    <td>Number</td>
    <td>Cvv</td>
    <td></td>
    <td></td>
  </tr>

  <tr *ngFor="let card of cards | async">
    <td>
      {{card.name}}
    </td>
    <td>
      {{card.number}}
    </td>
    <td>
      {{card.cvv}}
    </td>

    <td>
      <button class="btn btn-default" [routerLink]="[ card.id, 'editcard']">Edit</button>
    </td>

    <td>
      <button class="btn btn-danger" (click)="remove(card)">Delete</button>
    </td>
  </tr>
</table>

<button class="btn btn-primary" routerLink="new">New Card</button>
